body {
	font-family: 'Alegreya', serif;
	font-size: 24px;
	color: #282828;
}

header {
	font-family: 'Alegreya SC', serif;
	font-size: 28px;
	width: 760px;
	margin: 60px 0 0 100px;
	border-bottom: 1px solid #282828;
	line-height: 20px;
	padding-bottom: 25px;
}

header a:link,
header a:visited,
header a:hover {
	text-decoration: none;
	color: #282828;
}

header .index {
	float: right;
}

figure {
	width: 760px;
	margin: 60px auto 0 100px;
	position: relative;
}

article figure {
	margin-left: 0;
	margin-bottom: 60px;
}

figure img {
	display: block;
}

figcaption {
	position: absolute;
	bottom: 0;
	left: 0;
	/*background: rgba(51,51,51,.8);*/
	color: rgba(255,255,255,.7);
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12px;
	padding: 4px 10px;
	font-style: italic;
}

figcaption a:link,
figcaption a:visited {
	color: rgba(255,255,255,.7);
	text-decoration: none;
}

figcaption a:hover {
	color: #fff
}

section,
article {
	width: 760px;
	margin: 60px 0 0 100px;
}

section ul,
section ul li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

section ul {
	margin: 40px 0;
	line-height: 38px;
}

section a:link,
section a:hover,
section a:visited {
	color: #282828;
	text-decoration: none;
}

article h1 {
	text-align: center;
	font-size: 48px;
	font-weight: normal;
	margin-top: 0;
}

.author {
	display: block;
	font-family: 'Alegreya SC', serif;
	font-size: 28px;
	text-align: center;
}

/*
section a:visited,
section a:visited span {
	color: #999;
}
*/

section span {
	display: inline-block;
	margin-left: 1em;
	color: #1874cf;
}

footer {
	margin: 80px 0 0 100px;
}